@media (max-width: 520px) {
    .site {
        background-position: center -9em;
        background-size: 400% auto;
    }
    .top-bar {
        opacity: 0.9;
    }
    .name {
        font-size: 1em;
        padding-left: 1em;
    }
    .info {
        font-size: .7em;
    }
    .socials {
        padding-right: 1em;
        gap: .1em;
    }
    .columns img {
        width: 50%;
    }
    .form-container {
        width: inherit;
        margin: 0;
    }
    .content {
        padding: 0;
        gap: 1em;
    }
    .content li { 
        margin: 0;
    }
    .content a {
        font-size: .7em;
    }
    .top-bar {
        align-items: center;
    }
    .section-banner h2{
        font-size: 2.5em;
    }
    .cards,
    #clients {
        padding: 2em;
    }
    .columns {
        gap: 1em;
    }
    .card {
        flex-direction: column;
    }
    .head {
        font-size: 1.5em;
    }
    .footer-section {
        gap: 3em;
    }
    .card img {
        width: 20vh;
        padding-right: 0;
    }
    .hideOnMobile li {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
    #clients h2 {
        font-size: 1.5em;
    }
    .media img {
        transform: scale(2);
    }
    #dani {
        transform: scale(3);
    }
    .footer-section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    .form-group {
        flex-direction: column;
    }
    .work {
        display: block;
    }
    .item {
        width: 100vw;
        height: inherit;
        max-width: 100%;
    }
    .item video {
        width: 100%;
        height: 100%;
    }
    .item img {
        width: 100%;
        height: inherit;
    }
    .content {
        display: none;
    }
    .nav {
        display: block;
    }
}

@media (min-width: 521px) and (max-width: 1024px) {
    .site {
        max-height: 100vh;
        background-position: center -8em;
    }
    .top-bar {
        opacity: 0.9;
    }
    .name {
        font-size: 1em;
        padding-left: 1em;
    }
    .info {
        font-size: .7em;
    }
    .socials {
        padding-right: 1em;
        gap: .1em;
    }
    .columns img {
        width: 50%;
    }
    .form-container {
        margin: 2em auto;
    }
    .content {
        padding: 0;
        gap: 1em;
    }
    .content li { 
        margin: 0;
    }
    .content a {
        font-size: .7em;
    }
    .top-bar {
        align-items: center;
    }
    .section-banner {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    .section-banner h2{
        font-size: 1.5em;
    }
    .section-banner p{
        font-size: 1em;
    }
    .section-banner a {
        padding: .3em .6em;
    }
    .cards,
    #clients {
        padding: 2em;
    }
    .columns {
        gap: 1em;
    }   
    .head {
        font-size: 1.5em;
    }
    .footer-section {
        gap: 3em;
    }
    .hideOnMobile li {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
    #clients h2 {
        font-size: 1.5em;
    }
    .media img {
        transform: scale(2);
    }
    #dani {
        transform: scale(3);
    }
    .footer-section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    .form-group {
        flex-direction: column;
    }
    .work {
        display: block;
    }
    .item {
        width: 100vw;
        height: inherit;
        max-width: 100%;
    }
    .item video {
        width: 100%;
        height: 100%;
    }
    .item img {
        width: 100%;
        height: inherit;
    }
    .content {
        display: none;
    }
    .nav {
        display: block;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .site {
        max-height: 100vh;
        background-position: center -5em;
    }
    .section-banner {
        padding-top: 25v;
        padding-bottom: 25vh;
    }
    .carousel {
        height: 70vh;
    }
    .w-footer {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}
