.site-footer {
    background: rgba(208, 25, 25, 0.6);
    color: #fff;
    text-align: center;
    padding-top: 5em;
}

.footer-section {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    gap: 15em;
}

.footer-phone, .footer-email {
    display: flex;
    flex-direction: column;
}

.footer-phone i, .footer-email i {
    font-size: 2em;
    color: #fff;
}

.footer-socials {
    display: flex;
    list-style: none;
    gap: 2em;
}

.footer-socials li a {
    color: #fff;
    font-size: 2em;
    transition: color 0.3s ease;
}

.footer-socials li a:hover {
    color: #f00;
}

#footer-text {
    font-size: 1em;
    color: #aaa;
    margin-bottom: 0.2em;
}

#footer-text a {
    text-decoration: none;
}

#dmn21 {
    background-color:#f00;
    color: #fff;
    padding: .2em;
}

.footer-phone a, .footer-email a {
    padding-top: 1em;
    color: #aaa;
    text-decoration: none
}

.footer-phone a:hover, .footer-email a:hover {
    color: #fff; 
}

.nav {
    display: none;
}
